<!DOCTYPE html>
<html lang="pt-br">

    <%- include('../partials/head'); %> 

<body>
    <%- include('../partials/header'); %> 

    <main id="body">
        <% qualitys.forEach(function(posts){ %>   
            <div class="content" class="<%= posts.categoria %>" data-id="<%= posts.id %> ">
            <h1 class="title"><%= posts.titulo %> </h1>
            <span class="details"><%= posts.data %> </span>
           <a href="/post"><img class="post-thumbnail" src="<%= posts.img %> " alt="teste"></a> 
            <p class="p"><%= posts.texto %> </p>
            <a class="linkb" href="/post"><button class="b">Continuar Lendo</button></a> 
        </div> 
       <% }) %> 


        <%- include('../partials/menu'); %> 
    </main>

    <%- include('../partials/footer'); %> 

</body>

</html>